@import 'variables.scss';
@import 'mixins.scss';
body {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  position: relative;

  width: 100%;
  height: 100%;

  color: white;
  background-color: black;
}

html {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5{
  padding-bottom: 30px;
  color: black;
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 140%;
}
h1{
  text-align: center;
}
p {
  color: white;
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  padding-top: 12px;
}
a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  color: $primary;
  &:focus,
  &:hover {
    text-decoration: none;

    color: darken($primary, 20%);
  }
}

#mainNav {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  margin-bottom: 0;

  text-transform: uppercase;

  border-bottom: 1px solid fade-out(white, .7);
  background-color: black;
  .navbar-toggler {
    font-size: 14px;

    padding: 11px;

    color: white;
    border: 1px solid white;
  }
  .navbar-brand {
    font-weight: 700;
  }
  a {
    color: white;
  }
  .navbar-nav {
    .nav-item {
      -webkit-transition: background 0.3s ease-in-out;
      -moz-transition: background 0.3s ease-in-out;
      transition: background 0.3s ease-in-out;
      &:hover {
        outline: none;
        background-color: transparent;
      }
      &:active,
      &:focus {
        outline: none;
        background-color: transparent;
      }
    }
  }
  @media(min-width:992px) {
    padding-top: 20px;
    padding-bottom: 20px;

    -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    letter-spacing: 1px;

    border-bottom: none;
    background: transparent;
    &.navbar-shrink {
      padding-top: 10px;
      padding-bottom: 10px;

      border-bottom: 1px solid fade-out(white, .7);
      background: black;
    }
    .nav-link.active {
      outline: none;
      background-color: rgba(white, .3);
      &:hover {
        color: white;
      }
    }
  }
}

.masthead {
  display: table;

  width: 100%;
  height: auto;
  padding: 200px 0;

  text-align: center;

  color: white;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .intro-body {
    display: table-cell;
    vertical-align: middle;
    .brand-heading {
      font-size: 80px;
      color:  #438185;
      font-family: 'Lobster', cursive;
      padding: 60px;
      padding-bottom: 10px;
      margin: 0;
      letter-spacing: 1px;
      font-weight: 700;
    }
    .intro-text {
      font-size: 26px;
      color:  #438185;
      font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
  }
  @media(min-width:768px) {
    height: 100%;
    padding: 0;
    .intro-body {
      .brand-heading {
        font-size: 100px;
        margin: 0;
      }
      .intro-text {
        font-size: 22px;
      }
    }
  }
}

.waiverhead {
  display: table;

  width: 100%;
  height: auto;
  padding: 200px 0;

  text-align: center;

  color: white;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .intro-body {
    display: table-cell;
    vertical-align: middle;
    .brand-heading {
      font-size: 80px;
      color:  #438185;
      font-family: 'Lobster', cursive;
      background: rgba(0,0,0,0.8);
      padding: 50px;
      padding-bottom: 0;
      border: 6px solid  #438185;
      border-radius: 100% !important;
    }
    .intro-text {
      font-size: 26px;
      color:  #438185;
      font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
  }
  @media(min-width:768px) {
    height: 100%;
    padding: 0;
    .intro-body {
      .brand-heading {
        font-size: 100px;
      }
      .intro-text {
        font-size: 22px;
      }
    }
  }
}

.btn-circle {
  font-size: 50px;

  width: 100px;
  height: 100px;
  margin-top: 15px;
  line-height: 80px;

  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;

  color:  #438185;
  border: 6px solid  #438185;
  border-radius: 100% !important;
  background: rgba(0,0,0,0.6);
  &:hover {
    outline: none;
    background: fade-out(#fff, .9);
  }
}

.content-section {
  height: 100vh;
  padding-top: 80px;
}

.btn {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;

  border-radius: 3px;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: fade-out(white, .8);
}

.form-group {
  font-family: 'Lobster', cursive;
  width: auto;
  margin: 0 auto;
  padding: 30px;
  font-size: 22px;
  font-weight: 100;
}

.login-btn {
  margin-top: 15px;
  color: #438185;
  background-color: rgba(255,255,255,0.1);
  border-color: rgba(0,0,0,0);
}

.login-btn:hover {
  background-color: rgba(255,255,255,0.2);
  color: #438185;
  border-color: rgba(0,0,0,0);
}

.login-btn:focus {
  background-color: rgba(255,255,255,0.2);
  color: #438185;
  border-color: rgba(0,0,0,0)!important;
}

.form-label {
  color: black;
}

.hide {
  display: none!important;
}

video {
  padding-top: 50px;
  width: 80%;
  height: auto;
}

.login-container {
  margin: 0 auto;
  border: 12px solid;
  padding: 50px;
}

.waiver-section {
  padding-top: 0px;
  padding-bottom: 50px;
}

.waiver-container {
  background-color: white;
  margin: 0 auto;
  border: 12px solid #004c92;
  padding: 50px;
}

#myProgress {
  width: 80%;
  background-color: rgba(255,255,255,0.1);
  height: 38px;
  border-radius: 3px;
  margin: 0 auto;
  margin-top: 15px;
}

#myBar {
  width: 10%;
  background-color: #438185;
  padding-top: 5px;
  font-family: Lobster, cursive;
  color: rgba(0,0,0,0.8);
  height: 38px;
  margin: 0 auto;
  border-radius: 3px;
}

.title-wrap {
  border: 10px solid  black;
  border-radius: 100% !important;
  margin-bottom: 50px;
  padding: 0 25px 0 25px;
}

.admin {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  position: relative;

  width: 100%;
  height: 100%;

  color: black;
  background-color: white;
}

.select-team {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.select-new-team {
  font-size: 16px;
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.submit-new {
  font-size: 16px;
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: none;
  color: black;
}

.brand-subheading {
  font-family: 'Lobster', cursive;
  font-size: 50px;
  padding-bottom: 60px;
}

.brand-ending {
  font-size: 80px;
  color:  #438185;
  font-family: 'Lobster', cursive;
  padding: 60px;
  margin: 0;
  letter-spacing: 1px;
  font-weight: 700;
}

.thank-you-note {
  color: white;
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding-bottom: 25px;
  line-height: 120%;
}

.pledge {
  font-size: 50px;
  font-family: Lobster, cursive;
}

.normal-text {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;;
}

.flex-row {
  display: flex;
  flex-direction:row;
}

.filter {
  width: 100%;
}

.rainbow {
  -webkit-animation:rainbow 10s infinite;
  -ms-animation:rainbow 10s infinite;
  -o-animation:rainbow 10s infinite;
  animation:rainbow 10s infinite;
  animation-timing-function: linear;
}

.rainbow-background {
  -webkit-animation:rainbow-background 10s infinite;
  -ms-animation:rainbow-background 10s infinite;
  -o-animation:rainbow-background 10s infinite;
  animation:rainbow-background 10s infinite;
  animation-timing-function: linear;
}

.rainbow-border {
  -webkit-animation:rainbow-border 10s infinite;
  -ms-animation:rainbow-border 10s infinite;
  -o-animation:rainbow-border 10s infinite;
  animation:rainbow-border 10s infinite;
  animation-timing-function: linear;
}
@-webkit-keyframes rainbow {
  0% {color: #ff0000;}
  5% {color: #ff3000;}
  10% {color: #ff8000;}
  15% {color: #ffb200;}
  20% {color: #ffff00;}
  25% {color: #c9ff00;}
  30% {color: #80ff00;}
  40% {color: #00ff00;}
  50% {color: #00ff80;}
  55% {color: #00ffc3;}
  60% {color: #00d9ff;}
  65% {color: #0080ff;}
  70% {color: #0054ff;}
  75% {color: #0019ff;}
  80% {color: #3200ff;}
  85% {color: #6700ff;}
  90% {color: #a100ff;}
  100% {color: #ff0059;}
}
@-ms-keyframes rainbow {
  0% {color: #ff0000;}
  5% {color: #ff3000;}
  10% {color: #ff8000;}
  15% {color: #ffb200;}
  20% {color: #ffff00;}
  25% {color: #c9ff00;}
  30% {color: #80ff00;}
  40% {color: #00ff00;}
  50% {color: #00ff80;}
  55% {color: #00ffc3;}
  60% {color: #00d9ff;}
  65% {color: #0080ff;}
  70% {color: #0054ff;}
  75% {color: #0019ff;}
  80% {color: #3200ff;}
  85% {color: #6700ff;}
  90% {color: #a100ff;}
  100% {color: #ff0059;}
}
@-o-keyframes rainbow {
  0% {color: #ff0000;}
  5% {color: #ff3000;}
  10% {color: #ff8000;}
  15% {color: #ffb200;}
  20% {color: #ffff00;}
  25% {color: #c9ff00;}
  30% {color: #80ff00;}
  40% {color: #00ff00;}
  50% {color: #00ff80;}
  55% {color: #00ffc3;}
  60% {color: #00d9ff;}
  65% {color: #0080ff;}
  70% {color: #0054ff;}
  75% {color: #0019ff;}
  80% {color: #3200ff;}
  85% {color: #6700ff;}
  90% {color: #a100ff;}
  100% {color: #ff0059;}
}
@keyframes rainbow {
  0% {color: #ff0000;}
  5% {color: #ff3000;}
  10% {color: #ff8000;}
  15% {color: #ffb200;}
  20% {color: #ffff00;}
  25% {color: #c9ff00;}
  30% {color: #80ff00;}
  40% {color: #00ff00;}
  50% {color: #00ff80;}
  55% {color: #00ffc3;}
  60% {color: #00d9ff;}
  65% {color: #0080ff;}
  70% {color: #0054ff;}
  75% {color: #0019ff;}
  80% {color: #3200ff;}
  85% {color: #6700ff;}
  90% {color: #a100ff;}
  100% {color: #ff0059;}
}

@-webkit-keyframes rainbow-border {
  100% {border-color: #ff0000;}
  90% {border-color: #ff3000;}
  85% {border-color: #ff8000;}
  80% {border-color: #ffb200;}
  75% {border-color: #ffff00;}
  70% {border-color: #c9ff00;}
  65% {border-color: #80ff00;}
  60% {border-color: #00ff00;}
  50% {border-color: #00ff80;}
  45% {border-color: #00ffc3;}
  40% {border-color: #00d9ff;}
  35% {border-color: #0080ff;}
  30% {border-color: #0054ff;}
  25% {border-color: #0019ff;}
  20% {border-color: #3200ff;}
  15% {border-color: #6700ff;}
  10% {border-color: #a100ff;}
  0% {border-color: #ff0059;}
}
@-ms-keyframes rainbow-border {
  100% {border-color: #ff0000;}
  90% {border-color: #ff3000;}
  85% {border-color: #ff8000;}
  80% {border-color: #ffb200;}
  75% {border-color: #ffff00;}
  70% {border-color: #c9ff00;}
  65% {border-color: #80ff00;}
  60% {border-color: #00ff00;}
  50% {border-color: #00ff80;}
  45% {border-color: #00ffc3;}
  40% {border-color: #00d9ff;}
  35% {border-color: #0080ff;}
  30% {border-color: #0054ff;}
  25% {border-color: #0019ff;}
  20% {border-color: #3200ff;}
  15% {border-color: #6700ff;}
  10% {border-color: #a100ff;}
  0% {border-color: #ff0059;}
}
@-o-keyframes rainbow-border {
  100% {border-color: #ff0000;}
  90% {border-color: #ff3000;}
  85% {border-color: #ff8000;}
  80% {border-color: #ffb200;}
  75% {border-color: #ffff00;}
  70% {border-color: #c9ff00;}
  65% {border-color: #80ff00;}
  60% {border-color: #00ff00;}
  50% {border-color: #00ff80;}
  45% {border-color: #00ffc3;}
  40% {border-color: #00d9ff;}
  35% {border-color: #0080ff;}
  30% {border-color: #0054ff;}
  25% {border-color: #0019ff;}
  20% {border-color: #3200ff;}
  15% {border-color: #6700ff;}
  10% {border-color: #a100ff;}
  0% {border-color: #ff0059;}
}
@keyframes rainbow-border {
  100% {border-color: #ff0000;}
  90% {border-color: #ff3000;}
  85% {border-color: #ff8000;}
  80% {border-color: #ffb200;}
  75% {border-color: #ffff00;}
  70% {border-color: #c9ff00;}
  65% {border-color: #80ff00;}
  60% {border-color: #00ff00;}
  50% {border-color: #00ff80;}
  45% {border-color: #00ffc3;}
  40% {border-color: #00d9ff;}
  35% {border-color: #0080ff;}
  30% {border-color: #0054ff;}
  25% {border-color: #0019ff;}
  20% {border-color: #3200ff;}
  15% {border-color: #6700ff;}
  10% {border-color: #a100ff;}
  0% {border-color: #ff0059;}
}

@-webkit-keyframes rainbow-background {
  100% {background-color: #ff0000;}
  90% {background-color: #ff3000;}
  85% {background-color: #ff8000;}
  80% {background-color: #ffb200;}
  75% {background-color: #ffff00;}
  70% {background-color: #c9ff00;}
  65% {background-color: #80ff00;}
  60% {background-color: #00ff00;}
  50% {background-color: #00ff80;}
  45% {background-color: #00ffc3;}
  40% {background-color: #00d9ff;}
  35% {background-color: #0080ff;}
  30% {background-color: #0054ff;}
  25% {background-color: #0019ff;}
  20% {background-color: #3200ff;}
  15% {background-color: #6700ff;}
  10% {background-color: #a100ff;}
  0% {background-color: #ff0059;}
}

@-ms-keyframes rainbow-background {
  100% {background-color: #ff0000;}
  90% {background-color: #ff3000;}
  85% {background-color: #ff8000;}
  80% {background-color: #ffb200;}
  75% {background-color: #ffff00;}
  70% {background-color: #c9ff00;}
  65% {background-color: #80ff00;}
  60% {background-color: #00ff00;}
  50% {background-color: #00ff80;}
  45% {background-color: #00ffc3;}
  40% {background-color: #00d9ff;}
  35% {background-color: #0080ff;}
  30% {background-color: #0054ff;}
  25% {background-color: #0019ff;}
  20% {background-color: #3200ff;}
  15% {background-color: #6700ff;}
  10% {background-color: #a100ff;}
  0% {background-color: #ff0059;}
}

@-o-keyframes rainbow-background {
  100% {background-color: #ff0000;}
  90% {background-color: #ff3000;}
  85% {background-color: #ff8000;}
  80% {background-color: #ffb200;}
  75% {background-color: #ffff00;}
  70% {background-color: #c9ff00;}
  65% {background-color: #80ff00;}
  60% {background-color: #00ff00;}
  50% {background-color: #00ff80;}
  45% {background-color: #00ffc3;}
  40% {background-color: #00d9ff;}
  35% {background-color: #0080ff;}
  30% {background-color: #0054ff;}
  25% {background-color: #0019ff;}
  20% {background-color: #3200ff;}
  15% {background-color: #6700ff;}
  10% {background-color: #a100ff;}
  0% {background-color: #ff0059;}
}

@keyframes rainbow-background {
  100% {background-color: #ff0000;}
  90% {background-color: #ff3000;}
  85% {background-color: #ff8000;}
  80% {background-color: #ffb200;}
  75% {background-color: #ffff00;}
  70% {background-color: #c9ff00;}
  65% {background-color: #80ff00;}
  60% {background-color: #00ff00;}
  50% {background-color: #00ff80;}
  45% {background-color: #00ffc3;}
  40% {background-color: #00d9ff;}
  35% {background-color: #0080ff;}
  30% {background-color: #0054ff;}
  25% {background-color: #0019ff;}
  20% {background-color: #3200ff;}
  15% {background-color: #6700ff;}
  10% {background-color: #a100ff;}
  0% {background-color: #ff0059;}
}